.pt-2 {
  padding-top: 0.5rem !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

button {
  background: #a7a72e;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-right: 20px;
}

div {
  display: block;
  unicode-bidi: isolate;
}
body {
  color: #333;
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5；;
}
