<div class="card pt-2">
  <div class="card-body card-pad pt-2 h-100">
    <h3 class="card-title h5 modal-icon-alignment pb-2">
      Enter the GenAI API key
    </h3>
    <p>Before we start, add an OpenRouter API key to make your requests.</p>

    <fieldset style="margin-bottom: 20px">
      <legend>OpenRouter API key</legend>
      <input
        id="api-key"
        type="text"
        placeholder="Enter OpenRouter API Key"
        [(ngModel)]="key"
        aria-required="true"
      />
      <button (click)="onSubmit()">Submit</button>
      <p class="error-msg" *ngIf="showError">
        Please enter a value for the API key.
      </p>
    </fieldset>

    <p>If you don't have one yet, here are some steps to create one:</p>
    <ol>
      <li>
        Create an account at
        <a href="https://www.openrouter.ai" target="_blank" rel="noopener">
          openrouter.ai
        </a>
      </li>
      <li>Under the top right menu icon, select “Keys”.</li>
      <li>
        Create a key (and save it somewhere!). You will be shown your key only
        once.
      </li>
      <li>Paste the key above and click Submit to continue.</li>
    </ol>
  </div>
</div>
