<!--div class="container vh-100">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <h1 class="visually-hidden">{{ this.titleFromNavigation() | translate }}</h1>
  <main [@routeAnimations]="getRouteAnimationData()" style="min-height: 100%">
    <router-outlet></router-outlet>
  </main>
  <footer class="mt-4">
    <div class="d-flex justify-content-between align-items-end mt-auto pb-4">
      <div class="align-self-end">
        <span class="text-muted small">version: {{ updVersion }} </span>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <img
          class="img-fluid"
          [src]="canadaLogo"
          alt="{{'government_of_canada' | translate}}"
        />
      </div>
    </div>
  </footer>
</div-->
<body class="container vh-100">
<div id="content-wrap">
  <app-header></app-header>
  <app-sidebar></app-sidebar>  
  <h1 class="visually-hidden">Replace with heading</h1>
  <main>
    <router-outlet></router-outlet></main>
  </div>
  <footer class="footer">
    <div class="d-flex justify-content-between align-items-end mt-auto pb-4">
      <div class="align-self-end">
        <span class="text-muted small">version: 0.0.1 </span>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <img
          class="img-fluid"
          src="canada-logo.png"
          alt="Government of Canada"
        />
      </div>
    </div>
  </footer>
  </body>



<!--main>
  <app-header></app-header>
  <app-sidebar></app-sidebar>
     <a [routerLink]="['/']">
        <header class="brand-name">
          <img class="brand-logo" src="canada-logo.png" alt="logo" aria-hidden="true" />
        </header>
      </a>
      <section class="content">
         <router-outlet></router-outlet>
      </section>
    </main>
<router-outlet />



<header id="header">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-start">
      <img
        class="img-fluid fip-colour"
        src="canada-logo.png"
        width="834"
        height="76"
        alt=""
        priority="true"
      />
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-6 text-end lang-toggle">
      <div class="language-picker-area">
        <div class="picker-label"></div>
        <a
          style="cursor: pointer"
          class="langs"
          tabindex="0">
          French (fix this!)
        </a>
      </div>
    </div>
  </div>
</header-->