<ng-container *ngIf="apiKey; else keyForm">
  <div><h1>Translation assistnat</h1></div>
  <div class="card pt-2">
    <div class="card-body card-pad pt-2 h-100">
      <div id="source-upload" class="after-key-unhide justify-content-between">
        <fieldset class="upload-header">
          <legend class="legend-flex">
            <span>Upload source language file</span>
            <button class="btn-clear" (click)="onClear()">Clear</button>
          </legend>

          <div id="source-doc-upload">
            <input
              type="file"
              accept=".docx,.pptx"
              (change)="onFileSelected($event)"
            />
            <p class="error-msg" *ngIf="sourceError">{{ sourceError }}</p>
          </div>

          <div class="upload-btn">
            <button
              id="source-upload-provide-btn"
              (click)="previewSource()"
              [disabled]="!selectedFile"
            >
              Upload file
            </button>
          </div>
        </fieldset>

        <ul class="list-unstyled">
          <li *ngIf="previewText" id="source-preview-wrapper">
            <details>
              <summary class="preview-header">
                <span class="preview-label"
                  >▶ Preview source language file</span
                >
                <button
                  type="button"
                  class="copy-all-btn"
                  title="Copy All"
                  (click)="copyAll($event)"
                >
                  <i class="fa fa-copy"></i>
                </button>
              </summary>
              <pre id="source-text-preview">{{ previewText }}</pre>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="showSecondUpload" class="second-step">
    <div class="card pt-2">
      <div class="card-body card-pad pt-2 h-100">
        <div class="justify-content-between">
          <fieldset>
            <legend id="second-upload-legend">
              Paste target language content
            </legend>

            <div id="second-text-upload" class="translation-container">
              <div class="text-box-container">
                <div class="translation-textarea-container">
                  <textarea
                    id="second-text"
                    name="source-text"
                    placeholder="Enter your translation"
                    class="inputbox-translation"
                  ></textarea>
                  <p id="second-text-error" class="error-msg hidden">
                    Text cannot be empty.
                  </p>
                </div>
              </div>
            </div>
            <div id="second-doc-upload" class="hidden">
              <div id="second-file-container">
                <input type="file" id="second-file" />
                <p id="second-multiple-msg" class="error-msg hidden">
                  Please upload one document at a time.
                </p>
                <p id="second-doc-error" class="error-msg hidden">
                  You must upload a .docx, .pptx or .xlsx file to proceed.
                </p>
                <p id="second-doc-mismatch-msg" class="error-msg hidden">
                  Both documents appear to be in the same language.
                </p>
              </div>
              <div class="sidebyside-wrapper">
                <p id="second-language-heading" style="margin-top: 15px">
                  Source language:
                  <span id="source-doc-detecting" class="hidden"
                    >detecting...</span
                  >
                </p>
                <select id="second-language-doc" class="hidden">
                  <option value="english">English</option>
                  <option value="french">French</option>
                </select>
              </div>
            </div>
            <button id="second-upload-btn">
              Format target language content
            </button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #keyForm>
  <app-api-key></app-api-key>
</ng-template>
